* {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #2b2b2b;
  float: right;
}

.top__sidebar {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px black dotted;
}

.top__sidebar>img {
  margin: 0;
  padding: 0;
  width: 100%;
  /*come placeholder del logo ho usato una immagine random e anche se allargata male era per prendere l intero spazio (fatto di porposito)*/
  height: 100%;
}


.center__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.center__sidebar>a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 20px;
  margin: 15px 0;
  transition: 0.3s;
}

.center>a:hover {
  color: #2b2bb2;
  transition: 0.3s;
}


.bot__sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bot__sidebar>div>.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bot__sidebar>div>p {
  font-size: large;
  font-weight: bolder;
}