* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
}

.navbar {
  width: 1500px;
  height: 70px;
  display: flex;
 justify-content: space-between;
  background-color: #36454f;
  padding: 5px;
  align-items: center;
}

.navbar_left {
  padding-left: 10px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_left>div {
  margin-right: 20px;
}

.navbar_right {
  display: flex;
  flex-direction: row;
}


.navbar_right>div {
  margin-right: 20px;
}

div {
  font-size: 30px;
  color: rgb(116, 116, 116);
}

.navbar_left_title {
  color: white;
  font-weight: 900;
  font-size: 40px;
}

.navbar_left_home {
  color: white;
  font-weight: 500;
}

.navbar_left_link,
.navbar_left_dropdown {
  color: rgb(155, 155, 155);
  display: flex;
}

select{
  background-color: #36454f;
  border: none;
}


.input_search {
  font-size: 30px;
  padding:15px 10px;
  border-radius: 10px;
  border: 1px solid gray;

}

.input_button{
  font-size: 30px;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: inherit;
  color: green;
  border: 2px solid green;
}

.input_button:hover{
  color: white;
  background-color: green;
}