* {
  margin: 0;
  padding: 0;
}

div{
  color: gray;
  font-size: 20px;
  text-decoration: none;
}

div:hover{
  cursor: pointer;
}

.Navbar {
  width: fit-content;
  height: 50px;
  display: flex;
  background-color: #36454f;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  padding-left: 10px;
  margin-right: 150px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

select {
  background-color: inherit;
  border: none;
}

#searchinput {
  margin-right: 20px;
  padding: 10px 0;
  border-radius: 5px;
  font-size: medium;
  border: 1px solid lightslategray;
}

#buttonsearch {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: medium;
  border-color: green;
  border: 2px solid;
  color: green;
  background-color: initial;
  margin-right: 30px;
}

#buttonsearch:hover {
  background-color: green;
  color: white;
  border: 2px solid rgb(0, 73, 0);
}




.Navbar>.left>div:nth-child(1) {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.Navbar>.left>div:nth-child(2) {

  font-weight: bolder;
  color: rgb(255, 255, 255);
}

#Disabled {
  opacity: 0.5;
}

form{
  display: flex;
}