* {
  margin: 0;
}

nav>div>a {
  color: white;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
}

#navtitle {
  font-weight: 700;
}

#link {
  color: rgb(197, 197, 197);
}

nav {
  display: flex;
  background-color: #36454F;
  /* width:min-content;*/
  padding: 8px 0px 8px 15px;
}

nav>div {
  margin-right: 10px;
  justify-content: center;
  text-align: center;
}



#dropdown {
  border: none;
  background-color: #36454F;
  color: rgb(197, 197, 197);
}


.disabled {
  color: grey;
}

#searchbardiv {
  margin-left: 65px;
}

#searchbar {
  border: none;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
}

.searchbutton {
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border: 1px solid rgb(70, 185, 70);
  background-color: #36454F;
  color: rgb(70, 185, 70);
}

.searchbutton:hover {
  background-color: red;
}

.searchbutton:active {
  background-color: yellow;
}