body {
  margin: 0;
  padding: 0;
}



nav {
  display: flex;
  flex-direction: row;
  background-color: #36454F;
  width: 100vw;
  justify-content: start;
  height: auto;
}

nav>div {
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
}

#Navbar__title {
  font-size: larger;
}

#Home {
  color: rgb(255, 255, 255);
}

#Link {
  color: rgb(163, 163, 163);
}

#disabled {
  color: rgb(163, 163, 163);
}

#inputID {
  margin-left: 50px;
}




#dropdown {
  color: rgb(163, 163, 163);
  border: none;
  background-color: #36454F;
}

#searchinput {
  border: none;
  border-radius: 3px;
  padding: 5px;
}

#searchbutton {
  border: 1px solid green;
  color: green;
  border-radius: 3px;
  background-color: #36454F;
}

#searchbutton:hover {
  background-color: green;
  color: white;
}

/* non sono riuscito a mettere il div Navbar allineato*/